body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.btns {
  background-color: teal;
  color: white;
  font-size: large;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid pink;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.canvasCnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#camCanvas {
  max-width: 300px;
}